body, html { margin: 0; padding: 0; overflow: hidden; background-color: #000; font-family: 'Arial', sans-serif; }
canvas { display: block; 
background: linear-gradient(to bottom,#4facfe 0%, #00f2fe 100%);
     touch-action: none; 
}
/* Botón de Menú */
#menu-btn {
    position: fixed; top: 20px; left: 20px;
    width: 50px; height: 50px; background: rgba(0,0,0,0.6);
    color: white; font-size: 30px; border-radius: 10px;
    display: flex; align-items: center; justify-content: center;
    cursor: pointer; z-index: 10001; border: 2px solid #fff;
}

/* Menú de Pausa */
#pause-menu {
    position: fixed; top: 0; left: 0; width: 100%; height: 100%;
    background: rgba(0,0,0,0.85); z-index: 10002;
    display: flex; align-items: center; justify-content: center;
}
.hidden { display: none !important; }

.menu-content {
    background: #2e7d32; padding: 30px; border-radius: 20px;
    border: 4px solid #fff; text-align: center; color: white; min-width: 250px;
}
.menu-content h2 { margin-top: 0; color: #ffd600; }
.menu-content p { font-size: 20px; font-weight: bold; }

#resume-btn {
    margin-top: 20px; padding: 10px 30px; font-size: 18px;
    background: #ffd600; border: none; border-radius: 10px;
    font-weight: bold; cursor: pointer;
}

/* Controles Táctiles */
#touch-controls {
    display: flex !important; position: fixed; bottom: 40px;
    left: 0; width: 100%; justify-content: space-between;
    padding: 0 40px; z-index: 10000; box-sizing: border-box;
}
#touch-controls button {
    width: 80px; height: 80px; background: rgba(255, 255, 255, 0.2);
    border: 3px solid white; border-radius: 50%; color: white; font-size: 30px;
}
@keyframes dustDrift {
    0% { transform: translate(0, 0); opacity: 0.3; }
    50% { opacity: 0.6; }
    100% { transform: translate(100px, 50px); opacity: 0.3; }
}

.dust-particle {
    position: fixed;
    background: rgba(210, 180, 140, 0.4);
    pointer-events: none;
    z-index: 999;
    border-radius: 50%;
    animation: dustDrift 5s infinite linear;
}
#jump, #btn-left, #btn-right {
    touch-action: none !important;
    user-select: none !important;
    -webkit-user-select: none !important;
    cursor: pointer;
}